.img-adj {
    text-align: center;
}

.img-mult { 
    max-width: 350px;
}
.img-single {
    max-width: 500px;
}

.alisting {
    width: 400px;
    padding: 0 25px;
}

.tags {
    display: inline;
}

.tagbutton {
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
}

.tagbutton:hover {
    border: 1px solid darkgray ;
}

.login-register {
    width: 50%;
    min-width: 450px;
    max-width: 600px;
}

.comments {
    display: inline;
}

textarea, select {
    margin-top: 5px;
}

input[type=text] {
    min-width: 450px;
}