{% extends "auctions/layout.html" %}

{% block title %}My Account{% endblock %}

{% block body %}
    <h2 class="h1 mb-3">My Account</h2>

    <div class="mx-4">
        <h4>Hello, <strong>{{ user.username }}</strong>!</h4>
        <div class="mt-3 ms-4">
            <div class="mb-2">
                <a href="{% url 'userlistings' user.username %}" class="text-decoration-none">My Listings</a>
            </div>
            <div class="mb-2">
                <a href="{% url 'new' %}" class="text-decoration-none">Create a New Listing</a>
            </div>
            <div class="mb-2">
                <a href="{% url 'watchlist' %}" class="text-decoration-none">Watch List</a>
            </div>
        </div>
    </div>
{% endblock %}