{% extends "auctions/layout.html" %}

{% block title %}Closed Listings{% endblock %}

{% block body %}
    <h2 class="h1 mb-3">Closed Listings</h2>

   {% if items %}
        <div class="mb-5 d-flex flex-wrap justify-content-center">
            {% for item in items %}
                {% if not item.active %}
                    <div class="alisting mb-4">
                        {% if item.img %}
                            <div class="img-adj">
                                <a href="{% url 'list_item' item.id %}"><img class="my-3 img-mult" src="{{ item.img.url }}" alt="{{ item.post_title }}"></a>
                            </div>
                        {% endif %}
                        <div>
                            <h3><a href="{% url 'list_item' item.id %}" class="text-decoration-none text-black">{{ item.post_title }}</a></h3>
                            <div>
                                <p>{{ item.description }}</p>    
                            </div>
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p>Current Bid: ${{ item.bid_start }}</p>
                                </div>
                                <div class="">
                                    <p>Seller: {{ item.user }}</p>    
                                </div>    
                            </div>
                            <div class="d-flex">
                                <div class="pe-2 my-2">
                                    <p>Tags:</p>
                                </div>
                                {% for tag in item.list_tag.all %}
                                    <div class="tags me-2">
                                        <a href="{% url 'tags' tag %}" class="btn btn-small mb-4 tagbutton">{{ tag }}</a>
                                    </div>
                                {% endfor %}  
                            </div>  
                        </div>
                    </div>
                {% endif %}
            {% endfor %}    
        </div>
    {% else %}
        <div class="ms-4">No Closed Listings</div>
    {% endif %}
    
{% endblock %}