{% extends "auctions/layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
    <h2 class="h1 mb-3">{{ item.post_title }}</h2>
    
    {% if item.img %}
        <img class="mb-3" src="{{ item.img.url }}" alt="{{ item.post_title }}">
    {% endif %}
    <div>
        <div>
            <p>{{ item.description }}</p>    
        </div>
        <div class="d-flex flex-row">
            <div class="pe-2 me-5">
                <p>Current Bid: ${{ top }}</p>
            </div>
            <div class="pe-2">
                <p>Seller: {{ item.user }}</p>    
            </div>    
        </div>
        <div class="d-flex flex-row">
            <div class="pe-2 my-2">
                <p>Tags:</p>
            </div>
            {% for tag in item.list_tag.all %}
                <div class="tags me-2">
                    <a href="{% url 'tags' tag %}" class="btn btn-small mb-4 tagbutton">{{ tag }}</a>
                </div>
            {% endfor %} 
        </div>  
    </div>
    
    {% if editor is True %}
        <div class="my-5">           
            <a href="{% url 'edit' item.id %}" class="btn btn-small mb-4 btn-dark">Edit</a>
        </div>
    {% endif %}
    
    <div class="my-5">
        <h3 class="mb-3">Bids</h3>
        {% for bid in bids.all %}
            <div class="my-2 mx-4"> 
                <p class="comments">${{ bid.dollar }}</p>   
            </div>
        {% empty %}
            No Bids
        {% endfor %}
    </div>

    <div class="my-5">
        <h3 class="mb-3">Comments</h3>

        <div class="my-4"> 
                <div class="mx-2">
                    {% if cform %}
                        <form action="{% url 'list_item' item.id %}" method="POST">
                            {% csrf_token %}
                            
                            <div class="my-1">{{ cform }}</div>
                            <div class="mt-2">
                                <button class="btn btn-dark btn-small" type="submit">Comment</button>    
                            </div>         
                        </form>
                    {% else %}
                            Must be signed in to comment 
                    {% endif %} 
                </div>
                <div class="mt-3">
                    {% for comment in comments.all %}
                        <div class="my-2 mx-4"> 
                            <p class="fw-bold comments">{{ comment.user }}</p>
                            <p class="comments ms-2">{{ comment.body }}</p>    
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>

{% endblock %}