{% extends "auctions/layout.html" %}

{% block title %}Tags{% endblock %}

{% block body %}
    {% if id %}
        <h2 class="h1 mb-3">Tag: "{{ tag }}"</h2>

        <div class="mb-5 d-flex flex-wrap justify-content-center">
            {% for item in listings %}
                <div class="alisting mb-4">
                    {% if item.active is True %}
                        {% if item.img %}
                            <div class="img-adj">
                                <a href="{% url 'list_item' item.id %}"><img class="my-3 img-mult" src="{{ item.img.url }}" alt="{{ item.post_title }}"></a>
                            </div>
                        {% endif %}
                        <div>
                            <h2><a href="{% url 'list_item' item.id %}" class="text-decoration-none text-black">{{ item.post_title }}</a></h2>
                            <div>
                                <p>{{ item.description }}</p>    
                            </div>
                            <div class="d-flex">
                                <div class="flex-fill">
                                    <p><b>Current Bid:</b>  ${{ item.top_bid }}</p>
                                </div>
                                <div>
                                    <p><b>Seller:</b> <a href="{% url 'userlistings' item.user %}" class="text-decoration-none text-black">{{ item.user }}</a></p>    
                                </div>    
                            </div>
                            <div class="d-flex">
                                <div class="pe-2 my-2">
                                    <p><b>Tags:</b></p>
                                </div>
                                {% for tag in item.list_tag.all %}
                                    <div class="tags me-2">
                                        <a href="{% url 'tags' tag %}" class="btn btn-small mb-4 tagbutton">{{ tag }}</a>
                                    </div>
                                {% endfor %}  
                            </div>  
                        </div>
                    {% endif %}    
                </div>
            {% empty %}
                No listings using this tag
            {% endfor %}    
        </div>
    {% else %}
        <h2 class="h1 mb-3">"{{ tag }}" is not a valid tag</h2> 
        <p class="mb-5 mx-4">Back to <a href="{% url 'index' %}" class="text-decoration-none">Active Listings</a></p>
    {% endif %}

{% endblock %}