{% extends "auctions/layout.html" %}

{% block title %}Watch List{% endblock %}

{% block body %}
    <h2 class="h1 mb-3">Watch List</h2>

    <div class="mb-5 d-flex flex-wrap justify-content-center">
        {% for fave in faves.listing.all %}
            <div class="alisting mb-4">
                {% if fave.img %}
                    <div class="img-adj">
                        <img class="img-mult my-3" src="{{ fave.img.url }}" alt="{{ fave.post_title }}">
                    </div>
                {% endif %}
                <div>
                    <h3><a href="{% url 'list_item' fave.id %}" class="text-decoration-none text-black">{{ fave.post_title }}</a></h3>
                    <div>
                        <p>{{ fave.description }}</p>    
                    </div>
                    <div class="d-flex">
                        <div class="flex-fill">
                            <p>Current Bid: ${{ fave.bid_start }}</p>
                        </div>
                        <div class="">
                            <p>Seller: {{ fave.user }}</p>    
                        </div>    
                    </div>
                    <div class="d-flex">
                        <div class="pe-2 my-2">
                            <p>Tags:</p>
                        </div>
                        {% for tag in fave.list_tag.all %}
                            <div class="tags me-2">
                                <a href="{% url 'tags' tag %}" class="btn btn-small mb-4 tagbutton">{{ tag }}</a>
                            </div>
                        {% endfor %}  
                    </div>  
                </div>
            </div>
        {% empty %}
            No watched listings
        {% endfor %}    
    </div>

{% endblock %}